include LICENSE
include README.md
include CONTRIBUTING.md
include CODE_OF_CONDUCT.md
include SECURITY.md
include requirements.txt
include requirements-dev.txt

recursive-include data *.json
recursive-include memory-bank *.md
recursive-exclude data/exports *
recursive-exclude visualization *.png

recursive-include tests *.py
